.search-form {
  text-align: center;
  padding-top: 28px;
  position: relative;
  margin-bottom: 13px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  &__location {
    position: absolute;
    top: 70px;
    left: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    outline: none;
    cursor: pointer;
  }

  &__favourite {
    position: absolute;
    top: 70px;
    right: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    outline: none;
    cursor: pointer;
  }
}

#search-input {
  width: 280px;
  height: 48px;
  font-size: 20px;
  border-radius: 30px;
  padding-left: 60px;
  outline: none;
  border: none;
  color: black;
  font-size: $font-size-14;
  font-family: $main-font;
  font-weight: $font-weight-400;
  background-color: $main-text-color;

  &::placeholder {
    color: black;
    font-size: $font-size-14;
    font-family: $main-font;
    font-weight: $font-weight-400;
  }
}

.favourite-icon {
  fill: #7e8691;
}

.favourite-icon:hover,
.favourite-icon:focus,
.favourite-icon:active {
  fill: $degrees-color;
}

@media screen and (min-width: 768px) {
  .search-form {
    width: 704px;
    margin-left: auto;
    margin-right: auto;
  }
  #search-input {
    width: 704px;
    font-size: $font-size-18;
    border-radius: 30px;
    &::placeholder {
      color: black;
      font-size: $font-size-18;
    }
  }

  .search-form__location {
    left: 20px;
  }

  .search-form__favourite {
    right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    width: 822px;
    margin-left: auto;
    margin-right: auto;
  }
  #search-input {
    width: 822px;
    font-size: $font-size-18;
    border-radius: 30px;

    &::placeholder {
      color: black;
      font-size: $font-size-18;
    }
  }

  .search-form__location {
    left: 20px;
  }

  .search-form__favourite {
    right: 20px;
  }
}
